.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1150px;

  h2 {
    float: left;
    margin: 154px 0 0 170px;
    align-self: flex-start;
    cursor: pointer;
  }

  .Cards {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
    width: 100%;
    max-width: 1150px;
    margin-left: 350px;
  }
}
