{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "require-jsdoc": "off",
    "quotes": [
      "warn",
      "double"
    ],
    "indent": [
      "warn",
      2
    ],
    "semi": [
      "warn",
      "always"
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
//  {
//   "env": {
//       "browser": true,
//       "es2021": true
//   },
//   "extends": [
//       "eslint:recommended",
//       "plugin:react/recommended",
//       "plugin:@typescript-eslint/recommended"
//   ],
//   "overrides": [
//   ],
//   "parser": "@typescript-eslint/parser",
//   "parserOptions": {
//       "ecmaVersion": "latest"
//   },
//   "plugins": [
//       "react",
//       "@typescript-eslint"
//   ],
//   "rules": {
//   }
// }
// export default {
//   "env": {
//     "browser": true,
//     "es2021": true
//   },
//   "extends": [
//     "eslint:recommended",
//     "plugin:react/recommended",
//     "plugin:@typescript-eslint/recommended"
//   ],
//   "overrides": [
//   ],
//   "parser": "@typescript-eslint/parser",
//        "parserOptions": {
//     "ecmaVersion": "latest"
//   },
//   "plugins": [
//     "react",
//     "@typescript-eslint"
//   ],
//   "rules": {
//     "quotes": ["warn", "double"],
//     "indent": ["warn", 2],
//     "semi": ["warn", "always"],
//     "import/order": [
//       "warn",
//       {
//         "groups": [
//           "builtin",
//           "external",
//           "internal",
//           "parent",
//           "sibling",
//           "index",
//           "object",
//           "type"
//         ],
//         "newlines-between": "always-and-inside-groups"
//       }
//     ]
//   }
// };
// {
//     "extends": ["react-app", "react-app/jest"],
//     "rules": {
//       "quotes": ["warn", "double"],
//       "indent": ["warn", 2],
//       "semi": ["warn", "always"],
//       "import/order": [
//         "warn",
//         {
//           "groups": [
//             "builtin",
//             "external",
//             "internal",
//             "parent",
//             "sibling",
//             "index",
//             "object",
//             "type"
//           ],
//           "newlines-between": "always-and-inside-groups"
//         }
//       ]
//     }
//   }