.button {
  background-color: #ffb03b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 77px -400px 0 195px;
  width: 205px;
  height: 58px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: black;
}
