.rollToUp {
  position: relative;
  padding: 10% 0;
  height: 356px;
}

.twoEmoji {
  margin: 0 auto;
  display: flex;
  justify-self: center;
}

.arrowUp {
  position: absolute;
  left: 5%;
  bottom: 8%;
  cursor: pointer;
  width: 69px;
  height: 69px;
}
