@import "../../../styles/primaryColors.scss";

.contacts {
  background-image: url("../../../assets/contactsPage/bg.png");
  background-size: cover;
  display: flex;
  margin-top: -125px;
  padding: 245px 0 100px;
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    column-gap: 80px;
    .images {
      display: flex;
      column-gap: 70px;
      .mainImg {
        max-width: 370px;
        width: 100%;
        padding: 27px 9px 86px;
        transform: rotate(0.4deg);
        position: relative;
        min-height: 450px;
        height: 100%;

        .innerImg {
          position: absolute;
          top: 54px;
          left: 20px;
          max-width: 350px;
          width: 100%;
        }

        .scotchLeftTop {
          position: absolute;
          left: -60px;
          top: -30px;
        }

        .scotchLeftBottom {
          position: absolute;
          left: -115px;
          bottom: 70px;
        }

        .scotchRightTop {
          position: absolute;
          top: -40px;
          right: -70px;
        }
        @media screen and (max-width: 470px) {
          width: 80%;
          margin-left: 50px;
          .mainImgBg {
            width: 90%;
          }
          .innerImg {
            width: 79%;
            top: 47px;
            left: 17px;
          }
          .scotchLeftTop {
            max-width: 80px;
            left: -30px;
            top: -5px;
          }
          .scotchLeftBottom {
            max-width: 70px;
            left: -40px;
            bottom: 90px;
          }

          .scotchRightTop {
            max-width: 70px;
            top: -15px;
            right: 8px;
          }
        }
      }
      .defaultImages {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-top: 75px;
        .defaultImage {
          position: relative;

          .defaultImgBg {
            border-radius: 8px;
          }
          .defaultImgInner {
            position: absolute;
            left: 8px;
            top: 10px;
          }

          .scotchDefault {
            position: absolute;
            top: -15px;
            left: 40px;
            width: 45px;
            transform: rotate(20deg);
          }

          &.firstDefaultImage {
            transform: rotate(-3.1deg);
          }
          &.secondDefaultImage {
            transform: rotate(-0.7deg);
          }
          &.thirdDefaultImage {
            transform: rotate(3.21deg);
          }
        }
        @media screen and (max-width: 950px) {
          flex-direction: row;
          padding-top: 0;
          column-gap: 20px;
          margin-top: -40px;
        }
      }
      @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
      }
    }

    .aboutUs {
      padding-top: 20px;
      max-width: 390px;
      width: 100%;
      .aboutUsHeader {
        position: relative;
        h4 {
          font-size: 28px;
          color: $fontTitleColor;
        }
        img {
          position: absolute;
          top: -40px;
          left: -40px;
        }
        p {
          margin-top: 30px;
          line-height: 23px;
        }
      }
      .aboutUsContacts {
        margin-top: 52px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        h4 {
          font-size: 20px;
          color: $fontTitleColor;
        }
        .contactNumbers {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          div {
            display: flex;
            align-items: center;
            column-gap: 20px;
            cursor: pointer;

            span {
              border: 1px solid transparent;
              color: $primaryColor;
            }

            &:hover {
              img {
                filter: invert(30%) sepia(62%) saturate(1078%) hue-rotate(89deg) brightness(93%)
                  contrast(99%);
              }
              span {
                border-bottom: 1px solid #ffffff;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
    }
  }
}
