.instSwiper {
  width: 470px;
}

.mySwiperInstitution .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperInstitutionSec .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperInstitutionSec .swiper-slide > img {
  width: 458px;
  height: 297px;
}
.mySwiperInstitutionSec .swiper-slide {
  background: url("../../../../../assets/institutionBar-slider/mainBack.png") no-repeat;
  background-size: 100% 100%;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
}

.mySwiperInstitutionSec {
  padding: 0 !important;
  width: 642px;
  height: 500px;
}

.mySwiperInstitution {
  height: 200px;
  width: 800px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiperInstitution .swiper-slide-visible {
  width: 200px !important;
  height: 100%;
  transform: translate3d(-28px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(5deg) !important;
  opacity: 1;
}

.mySwiperInstitution .swiper-slide-active {
  transform: translate3d(11px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(-5deg) !important;
}

.mySwiperInstitution .swiper-slide-next {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(-2deg) !important;
}

.mySwiperInstitution .swiper-slide-duplicate-active {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(0deg) !important;
}

.mySwiperInstitution .swiper-slide-prev {
  transform: translate3d(-55px, 20px, -72px) rotateX(0deg) rotateY(0deg) scale(0.9)
    rotate(-11.45deg) !important;
}

.mySwiperInstitution .swiper-slide-duplicate-prev {
  transform: translate3d(-55px, 10px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(-1deg) !important;
}

.mySwiperInstitution .swiper-slide-next > img:nth-child(3) {
  transform: translate3d(151px, -6px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(80deg);
}

.mySwiperInstitution .swiper-slide-visible > img:nth-child(3) {
  transform: translate3d(151px, -6px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(80deg);
}

.mySwiperInstitution .swiper-slide-active > img:nth-child(3) {
  transform: translate3d(151px, -6px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(2deg);
}

.background {
  position: relative;
  width: 279px !important;
}

.photo__pub {
  position: absolute;
  top: 4%;
  right: 0;
  left: -12%;
  width: 122%;
  z-index: 1;
}

.photo__tape {
  position: absolute;
  width: 100px;
  z-index: 2;
}

@media screen and (max-width: 1700px) {
  .mySwiperInstitutionSec .swiper-slide-active {
    width: 646px !important;
  }
}

@media screen and (max-width: 1440px) {
  .mySwiperInstitution {
    width: 600px;
  }
  .mySwiperInstitutionSec .swiper-slide > img {
    width: 421px;
    height: 259px;
    margin-bottom: 31px;
  }

  .mySwiperInstitution .swiper-slide-active {
    transform: translate3d(15px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(-5deg) !important;
  }
  .mySwiperInstitutionSec .swiper-slide-active {
    width: 592px !important;
    transform: translate3d(54px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
  }
  .mySwiperInstitutionSec .swiper-slide-next {
    width: 592px !important;
    transform: translate3d(380px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
  }
  .mySwiperInstitution .swiper-slide-visible {
    width: 200px !important;
    height: 100%;
    transform: translate3d(-12px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(5deg) !important;
  }

  .mySwiperInstitution .swiper-slide {
    transform: translate3d(10px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(0.6) rotate(5deg) !important;
  }
}

@media screen and (max-width: 1240px) {
  .instSwiper {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .mySwiperInstitutionSec .swiper-slide-active {
    transform: translate3d(20px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
  }
  .mySwiperInstitutionSec .swiper-slide > img {
    width: 75%;
    height: 259px;
    margin-bottom: 31px;
  }

  .photo__tape {
    display: none;
  }

  .instSwiper {
    max-width: 750px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 700px) {
  .mySwiperInstitutionSec .swiper-slide-active {
    transform: translate3d(60px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
  }
  .mySwiperInstitutionSec .swiper-slide > img {
    width: 75%;
    height: 259px;
    margin-bottom: 31px;
  }

  .mySwiperInstitutionSec .swiper-slide-active {
    width: 75% !important;
  }
}

@media screen and (max-width: 650px) {
  .mySwiperInstitutionSec {
    max-width: 680px;
    width: 100%;
  }
}

@media screen and (max-width: 635px) {
  .mySwiperInstitution {
    max-width: 600px;
    margin-left: -50px;
  }
}

@media screen and (max-width: 530px) {
  .mySwiperInstitution {
    max-width: 500px;
    width: 90%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 470px) {
  .mySwiperInstitution {
    max-width: 500px;
    width: 90%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 400px) {
  .mySwiperInstitution {
    max-width: 500px;
    width: 90%;
    margin-left: 50px;
  }
  .mySwiperInstitutionSec .swiper-slide-active {
    transform: translate3d(90px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) rotate(3deg) !important;
  }
}
@media screen and (max-width: 375px) {
  .mySwiperInstitution {
    max-width: 500px;
    width: 90%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 370px) {
  .mySwiperInstitution {
    display: none;
  }

  .mySwiperInstitutionSec {
    display: none;
  }
}
