* {
  box-sizing: border-box;
}

.wrapper {
  color: white;

  .nav {
    position: absolute;
    margin-left: 21%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
  }
}

.page1 {
  background: url("./assets/paper 2 piece 1.png") no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100px;
  padding-bottom: 70%;
  text-align: center;
  background-size: cover;
}

.calendar {
  margin-top: -40%;
  margin-left: 90%;
  z-index: 10;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.emoji {
  position: absolute;
  margin-top: 700px;
  margin-left: -600px;
}

.star {
  margin-left: 101px;
  position: absolute;
  margin-top: 200px;
}

.forslider {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.af {
  color: black;
  margin-right: 90%;
}

.page2 {
  height: auto;
  background: black;
}

@media screen and (max-width: 1450px) {
  .wrapper {
    .nav {
      margin-left: 12%;
    }
  }
}

@media screen and (max-width: 1030px) {
  .wrapper {
    .nav {
      margin-left: 6%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    overflow-x: hidden;

    .nav {
      margin: 15% auto;
      width: 60%;
      margin-left: 6%;
    }
  }

  .page1 {
    margin-top: 20%;
    height: 100%;
    max-height: 700px;
  }

  .page2 {
    width: 800px;
  }

  .star {
    width: 200px;
  }

  .main {
    margin-right: 0;
  }
}

@media screen and (max-width: 432px) {
  .calendar {
    margin-left: -50%;
  }

  .page1 {
    background: url("./assets/paperformobile.png") no-repeat;
    margin-top: 100px;
    transform: scale(1.34);
    height: 583px;
  }

  .wrapper {
    overflow-x: hidden;

    .nav {
      margin: 20% auto;
      width: 90%;
      margin-left: 6%;
    }
  }

  .page1 {
    margin-top: 37%;
    height: 100%;
    max-height: 600px;
  }

  .page2 {
    width: 800px;
  }

  .star {
    width: 200px;
  }

  .main {
    margin-right: 0;
  }
}
